--
-- PostgreSQL database dump
--


-- Dumped from database version 17.8 (a48d9ca)
-- Dumped by pg_dump version 18.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: ActivityLog; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."ActivityLog" (
    id integer NOT NULL,
    "adminId" integer,
    action text NOT NULL,
    module text NOT NULL,
    "entityId" integer,
    description text,
    metadata jsonb,
    "ipAddress" text,
    "userAgent" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."ActivityLog" OWNER TO neondb_owner;

--
-- Name: ActivityLog_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public."ActivityLog_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."ActivityLog_id_seq" OWNER TO neondb_owner;

--
-- Name: ActivityLog_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public."ActivityLog_id_seq" OWNED BY public."ActivityLog".id;


--
-- Name: Admin; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."Admin" (
    id integer NOT NULL,
    username text NOT NULL,
    password text NOT NULL,
    nama text NOT NULL,
    email text,
    role text DEFAULT 'admin'::text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Admin" OWNER TO neondb_owner;

--
-- Name: Admin_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public."Admin_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Admin_id_seq" OWNER TO neondb_owner;

--
-- Name: Admin_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public."Admin_id_seq" OWNED BY public."Admin".id;


--
-- Name: Dokumen; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."Dokumen" (
    id integer NOT NULL,
    "siswaId" integer,
    "guruId" integer,
    "jenisDokumen" text NOT NULL,
    "nomorDokumen" text,
    "periodeArsip" text,
    "tanggalDokumen" timestamp(3) without time zone,
    "filePath" text NOT NULL,
    "fileName" text NOT NULL,
    "fileType" text NOT NULL,
    "fileSize" integer,
    "sumberInput" text DEFAULT 'upload'::text NOT NULL,
    keterangan text,
    tags text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Dokumen" OWNER TO neondb_owner;

--
-- Name: Dokumen_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public."Dokumen_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Dokumen_id_seq" OWNER TO neondb_owner;

--
-- Name: Dokumen_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public."Dokumen_id_seq" OWNED BY public."Dokumen".id;


--
-- Name: DokumentasiKegiatan; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."DokumentasiKegiatan" (
    id integer NOT NULL,
    "kegiatanId" integer NOT NULL,
    "filePath" text NOT NULL,
    "fileName" text NOT NULL,
    "fileType" text NOT NULL,
    "fileSize" integer,
    judul text,
    keterangan text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."DokumentasiKegiatan" OWNER TO neondb_owner;

--
-- Name: DokumentasiKegiatan_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public."DokumentasiKegiatan_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."DokumentasiKegiatan_id_seq" OWNER TO neondb_owner;

--
-- Name: DokumentasiKegiatan_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public."DokumentasiKegiatan_id_seq" OWNED BY public."DokumentasiKegiatan".id;


--
-- Name: Guru; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."Guru" (
    id integer NOT NULL,
    nip text,
    nuptk text,
    nama text NOT NULL,
    "jenisKelamin" text NOT NULL,
    "tempatLahir" text,
    "tanggalLahir" timestamp(3) without time zone,
    agama text,
    alamat text,
    telepon text,
    email text,
    jabatan text,
    "bidangStudi" text,
    pendidikan text,
    jurusan text,
    "tanggalMasuk" timestamp(3) without time zone,
    "statusPegawai" text DEFAULT 'aktif'::text NOT NULL,
    "jenisKontrak" text,
    foto text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Guru" OWNER TO neondb_owner;

--
-- Name: Guru_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public."Guru_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Guru_id_seq" OWNER TO neondb_owner;

--
-- Name: Guru_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public."Guru_id_seq" OWNED BY public."Guru".id;


--
-- Name: Kegiatan; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."Kegiatan" (
    id integer NOT NULL,
    "namaKegiatan" text NOT NULL,
    "jenisKegiatan" text NOT NULL,
    "tanggalMulai" timestamp(3) without time zone NOT NULL,
    "tanggalSelesai" timestamp(3) without time zone,
    "waktuMulai" text,
    "waktuSelesai" text,
    lokasi text,
    "penanggungJawab" text,
    peserta text,
    "jumlahPeserta" integer,
    anggaran numeric(15,2),
    deskripsi text,
    status text DEFAULT 'terjadwal'::text NOT NULL,
    foto text,
    "fotoName" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Kegiatan" OWNER TO neondb_owner;

--
-- Name: Kegiatan_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public."Kegiatan_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Kegiatan_id_seq" OWNER TO neondb_owner;

--
-- Name: Kegiatan_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public."Kegiatan_id_seq" OWNED BY public."Kegiatan".id;


--
-- Name: NilaiRapor; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."NilaiRapor" (
    id integer NOT NULL,
    "siswaId" integer NOT NULL,
    semester text NOT NULL,
    "tahunAjaran" text NOT NULL,
    kelas text NOT NULL,
    nilai jsonb NOT NULL,
    rata double precision,
    peringkat integer,
    keterangan text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."NilaiRapor" OWNER TO neondb_owner;

--
-- Name: NilaiRapor_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public."NilaiRapor_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."NilaiRapor_id_seq" OWNER TO neondb_owner;

--
-- Name: NilaiRapor_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public."NilaiRapor_id_seq" OWNED BY public."NilaiRapor".id;


--
-- Name: PresensiGuru; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."PresensiGuru" (
    id integer NOT NULL,
    "guruId" integer NOT NULL,
    tanggal timestamp(3) without time zone NOT NULL,
    "jamMasuk" timestamp(3) without time zone,
    "jamKeluar" timestamp(3) without time zone,
    status text NOT NULL,
    keterangan text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."PresensiGuru" OWNER TO neondb_owner;

--
-- Name: PresensiGuru_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public."PresensiGuru_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."PresensiGuru_id_seq" OWNER TO neondb_owner;

--
-- Name: PresensiGuru_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public."PresensiGuru_id_seq" OWNED BY public."PresensiGuru".id;


--
-- Name: PresensiSiswa; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."PresensiSiswa" (
    id integer NOT NULL,
    "siswaId" integer NOT NULL,
    tanggal timestamp(3) without time zone NOT NULL,
    status text NOT NULL,
    keterangan text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."PresensiSiswa" OWNER TO neondb_owner;

--
-- Name: PresensiSiswa_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public."PresensiSiswa_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."PresensiSiswa_id_seq" OWNER TO neondb_owner;

--
-- Name: PresensiSiswa_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public."PresensiSiswa_id_seq" OWNED BY public."PresensiSiswa".id;


--
-- Name: RiwayatPemeliharaan; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."RiwayatPemeliharaan" (
    id integer NOT NULL,
    "sarprasId" integer NOT NULL,
    tanggal timestamp(3) without time zone NOT NULL,
    "jenisPemeliharaan" text NOT NULL,
    deskripsi text,
    pelaksana text,
    biaya numeric(15,2),
    "kondisiSebelum" text,
    "kondisiSesudah" text,
    "buktiDokumen" text,
    keterangan text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."RiwayatPemeliharaan" OWNER TO neondb_owner;

--
-- Name: RiwayatPemeliharaan_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public."RiwayatPemeliharaan_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."RiwayatPemeliharaan_id_seq" OWNER TO neondb_owner;

--
-- Name: RiwayatPemeliharaan_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public."RiwayatPemeliharaan_id_seq" OWNED BY public."RiwayatPemeliharaan".id;


--
-- Name: Sarpras; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."Sarpras" (
    id integer NOT NULL,
    "kodeBarang" text NOT NULL,
    "namaBarang" text NOT NULL,
    kategori text NOT NULL,
    merk text,
    "tahunPengadaan" integer,
    jumlah integer DEFAULT 1 NOT NULL,
    satuan text DEFAULT 'unit'::text NOT NULL,
    kondisi text DEFAULT 'baik'::text NOT NULL,
    lokasi text,
    "sumberDana" text,
    "hargaSatuan" numeric(15,2),
    keterangan text,
    foto text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Sarpras" OWNER TO neondb_owner;

--
-- Name: Sarpras_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public."Sarpras_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Sarpras_id_seq" OWNER TO neondb_owner;

--
-- Name: Sarpras_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public."Sarpras_id_seq" OWNED BY public."Sarpras".id;


--
-- Name: Siswa; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."Siswa" (
    id integer NOT NULL,
    nis text NOT NULL,
    nisn text,
    nama text NOT NULL,
    "jenisKelamin" text NOT NULL,
    "tempatLahir" text,
    "tanggalLahir" timestamp(3) without time zone,
    agama text,
    alamat text,
    telepon text,
    email text,
    "namaAyah" text,
    "pekerjaanAyah" text,
    "namaIbu" text,
    "pekerjaanIbu" text,
    "teleponOrtu" text,
    "alamatOrtu" text,
    kelas text,
    "tahunMasuk" text,
    "tahunLulus" text,
    status text DEFAULT 'aktif'::text NOT NULL,
    foto text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Siswa" OWNER TO neondb_owner;

--
-- Name: Siswa_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public."Siswa_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Siswa_id_seq" OWNER TO neondb_owner;

--
-- Name: Siswa_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public."Siswa_id_seq" OWNED BY public."Siswa".id;


--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO neondb_owner;

--
-- Name: ActivityLog id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."ActivityLog" ALTER COLUMN id SET DEFAULT nextval('public."ActivityLog_id_seq"'::regclass);


--
-- Name: Admin id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Admin" ALTER COLUMN id SET DEFAULT nextval('public."Admin_id_seq"'::regclass);


--
-- Name: Dokumen id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Dokumen" ALTER COLUMN id SET DEFAULT nextval('public."Dokumen_id_seq"'::regclass);


--
-- Name: DokumentasiKegiatan id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."DokumentasiKegiatan" ALTER COLUMN id SET DEFAULT nextval('public."DokumentasiKegiatan_id_seq"'::regclass);


--
-- Name: Guru id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Guru" ALTER COLUMN id SET DEFAULT nextval('public."Guru_id_seq"'::regclass);


--
-- Name: Kegiatan id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Kegiatan" ALTER COLUMN id SET DEFAULT nextval('public."Kegiatan_id_seq"'::regclass);


--
-- Name: NilaiRapor id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."NilaiRapor" ALTER COLUMN id SET DEFAULT nextval('public."NilaiRapor_id_seq"'::regclass);


--
-- Name: PresensiGuru id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."PresensiGuru" ALTER COLUMN id SET DEFAULT nextval('public."PresensiGuru_id_seq"'::regclass);


--
-- Name: PresensiSiswa id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."PresensiSiswa" ALTER COLUMN id SET DEFAULT nextval('public."PresensiSiswa_id_seq"'::regclass);


--
-- Name: RiwayatPemeliharaan id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."RiwayatPemeliharaan" ALTER COLUMN id SET DEFAULT nextval('public."RiwayatPemeliharaan_id_seq"'::regclass);


--
-- Name: Sarpras id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Sarpras" ALTER COLUMN id SET DEFAULT nextval('public."Sarpras_id_seq"'::regclass);


--
-- Name: Siswa id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Siswa" ALTER COLUMN id SET DEFAULT nextval('public."Siswa_id_seq"'::regclass);


--
-- Data for Name: ActivityLog; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: Admin; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: Dokumen; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: DokumentasiKegiatan; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public."DokumentasiKegiatan" (id, "kegiatanId", "filePath", "fileName", "fileType", "fileSize", judul, keterangan, "createdAt") FROM stdin;
\.


--
-- Data for Name: Guru; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: Kegiatan; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: NilaiRapor; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public."NilaiRapor" (id, "siswaId", semester, "tahunAjaran", kelas, nilai, rata, peringkat, keterangan, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: PresensiGuru; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public."PresensiGuru" (id, "guruId", tanggal, "jamMasuk", "jamKeluar", status, keterangan, "createdAt") FROM stdin;
\.


--
-- Data for Name: PresensiSiswa; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public."PresensiSiswa" (id, "siswaId", tanggal, status, keterangan, "createdAt") FROM stdin;
\.


--
-- Data for Name: RiwayatPemeliharaan; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public."RiwayatPemeliharaan" (id, "sarprasId", tanggal, "jenisPemeliharaan", deskripsi, pelaksana, biaya, "kondisiSebelum", "kondisiSesudah", "buktiDokumen", keterangan, "createdAt") FROM stdin;
\.


--
-- Data for Name: Sarpras; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public."Sarpras" (id, "kodeBarang", "namaBarang", kategori, merk, "tahunPengadaan", jumlah, satuan, kondisi, lokasi, "sumberDana", "hargaSatuan", keterangan, foto, "createdAt", "updatedAt") FROM stdin;
1	MJ-001	Meja Siswa	Mebeler	Olympic	2023	100	unit	baik	Ruang Kelas 1A - 3C	BOS	500000.00	\N	\N	2026-01-26 18:58:29.051	2026-01-26 18:58:29.051
2	KP-001	Komputer Desktop	Elektronik	Lenovo	2024	20	unit	baik	Lab Komputer	APBD	8000000.00	\N	\N	2026-01-26 18:58:33.908	2026-01-26 18:58:33.908
\.


--
-- Data for Name: Siswa; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public._prisma_migrations (id, checksum, finished_at, migration_name, logs, rolled_back_at, started_at, applied_steps_count) FROM stdin;
\.


--
-- Name: ActivityLog_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public."ActivityLog_id_seq"', 7, true);


--
-- Name: Admin_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public."Admin_id_seq"', 3, true);


--
-- Name: Dokumen_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public."Dokumen_id_seq"', 1, true);


--
-- Name: DokumentasiKegiatan_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public."DokumentasiKegiatan_id_seq"', 1, false);


--
-- Name: Guru_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public."Guru_id_seq"', 2, true);


--
-- Name: Kegiatan_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public."Kegiatan_id_seq"', 3, true);


--
-- Name: NilaiRapor_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public."NilaiRapor_id_seq"', 1, false);


--
-- Name: PresensiGuru_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public."PresensiGuru_id_seq"', 1, false);


--
-- Name: PresensiSiswa_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public."PresensiSiswa_id_seq"', 1, false);


--
-- Name: RiwayatPemeliharaan_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public."RiwayatPemeliharaan_id_seq"', 1, false);


--
-- Name: Sarpras_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public."Sarpras_id_seq"', 2, true);


--
-- Name: Siswa_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public."Siswa_id_seq"', 2, true);


--
-- Name: ActivityLog ActivityLog_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."ActivityLog"
    ADD CONSTRAINT "ActivityLog_pkey" PRIMARY KEY (id);


--
-- Name: Admin Admin_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Admin"
    ADD CONSTRAINT "Admin_pkey" PRIMARY KEY (id);


--
-- Name: Dokumen Dokumen_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Dokumen"
    ADD CONSTRAINT "Dokumen_pkey" PRIMARY KEY (id);


--
-- Name: DokumentasiKegiatan DokumentasiKegiatan_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."DokumentasiKegiatan"
    ADD CONSTRAINT "DokumentasiKegiatan_pkey" PRIMARY KEY (id);


--
-- Name: Guru Guru_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Guru"
    ADD CONSTRAINT "Guru_pkey" PRIMARY KEY (id);


--
-- Name: Kegiatan Kegiatan_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Kegiatan"
    ADD CONSTRAINT "Kegiatan_pkey" PRIMARY KEY (id);


--
-- Name: NilaiRapor NilaiRapor_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."NilaiRapor"
    ADD CONSTRAINT "NilaiRapor_pkey" PRIMARY KEY (id);


--
-- Name: PresensiGuru PresensiGuru_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."PresensiGuru"
    ADD CONSTRAINT "PresensiGuru_pkey" PRIMARY KEY (id);


--
-- Name: PresensiSiswa PresensiSiswa_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."PresensiSiswa"
    ADD CONSTRAINT "PresensiSiswa_pkey" PRIMARY KEY (id);


--
-- Name: RiwayatPemeliharaan RiwayatPemeliharaan_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."RiwayatPemeliharaan"
    ADD CONSTRAINT "RiwayatPemeliharaan_pkey" PRIMARY KEY (id);


--
-- Name: Sarpras Sarpras_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Sarpras"
    ADD CONSTRAINT "Sarpras_pkey" PRIMARY KEY (id);


--
-- Name: Siswa Siswa_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Siswa"
    ADD CONSTRAINT "Siswa_pkey" PRIMARY KEY (id);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: ActivityLog_adminId_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "ActivityLog_adminId_idx" ON public."ActivityLog" USING btree ("adminId");


--
-- Name: ActivityLog_createdAt_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "ActivityLog_createdAt_idx" ON public."ActivityLog" USING btree ("createdAt");


--
-- Name: ActivityLog_module_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "ActivityLog_module_idx" ON public."ActivityLog" USING btree (module);


--
-- Name: Admin_username_key; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE UNIQUE INDEX "Admin_username_key" ON public."Admin" USING btree (username);


--
-- Name: Dokumen_guruId_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "Dokumen_guruId_idx" ON public."Dokumen" USING btree ("guruId");


--
-- Name: Dokumen_jenisDokumen_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "Dokumen_jenisDokumen_idx" ON public."Dokumen" USING btree ("jenisDokumen");


--
-- Name: Dokumen_periodeArsip_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "Dokumen_periodeArsip_idx" ON public."Dokumen" USING btree ("periodeArsip");


--
-- Name: Dokumen_siswaId_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "Dokumen_siswaId_idx" ON public."Dokumen" USING btree ("siswaId");


--
-- Name: DokumentasiKegiatan_kegiatanId_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "DokumentasiKegiatan_kegiatanId_idx" ON public."DokumentasiKegiatan" USING btree ("kegiatanId");


--
-- Name: Guru_nip_key; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE UNIQUE INDEX "Guru_nip_key" ON public."Guru" USING btree (nip);


--
-- Name: NilaiRapor_siswaId_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "NilaiRapor_siswaId_idx" ON public."NilaiRapor" USING btree ("siswaId");


--
-- Name: NilaiRapor_tahunAjaran_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "NilaiRapor_tahunAjaran_idx" ON public."NilaiRapor" USING btree ("tahunAjaran");


--
-- Name: PresensiGuru_guruId_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "PresensiGuru_guruId_idx" ON public."PresensiGuru" USING btree ("guruId");


--
-- Name: PresensiGuru_tanggal_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "PresensiGuru_tanggal_idx" ON public."PresensiGuru" USING btree (tanggal);


--
-- Name: PresensiSiswa_siswaId_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "PresensiSiswa_siswaId_idx" ON public."PresensiSiswa" USING btree ("siswaId");


--
-- Name: PresensiSiswa_tanggal_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "PresensiSiswa_tanggal_idx" ON public."PresensiSiswa" USING btree (tanggal);


--
-- Name: RiwayatPemeliharaan_sarprasId_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "RiwayatPemeliharaan_sarprasId_idx" ON public."RiwayatPemeliharaan" USING btree ("sarprasId");


--
-- Name: RiwayatPemeliharaan_tanggal_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "RiwayatPemeliharaan_tanggal_idx" ON public."RiwayatPemeliharaan" USING btree (tanggal);


--
-- Name: Sarpras_kodeBarang_key; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE UNIQUE INDEX "Sarpras_kodeBarang_key" ON public."Sarpras" USING btree ("kodeBarang");


--
-- Name: Siswa_nis_key; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE UNIQUE INDEX "Siswa_nis_key" ON public."Siswa" USING btree (nis);


--
-- Name: ActivityLog ActivityLog_adminId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."ActivityLog"
    ADD CONSTRAINT "ActivityLog_adminId_fkey" FOREIGN KEY ("adminId") REFERENCES public."Admin"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Dokumen Dokumen_guruId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Dokumen"
    ADD CONSTRAINT "Dokumen_guruId_fkey" FOREIGN KEY ("guruId") REFERENCES public."Guru"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Dokumen Dokumen_siswaId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Dokumen"
    ADD CONSTRAINT "Dokumen_siswaId_fkey" FOREIGN KEY ("siswaId") REFERENCES public."Siswa"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: DokumentasiKegiatan DokumentasiKegiatan_kegiatanId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."DokumentasiKegiatan"
    ADD CONSTRAINT "DokumentasiKegiatan_kegiatanId_fkey" FOREIGN KEY ("kegiatanId") REFERENCES public."Kegiatan"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: NilaiRapor NilaiRapor_siswaId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."NilaiRapor"
    ADD CONSTRAINT "NilaiRapor_siswaId_fkey" FOREIGN KEY ("siswaId") REFERENCES public."Siswa"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: PresensiGuru PresensiGuru_guruId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."PresensiGuru"
    ADD CONSTRAINT "PresensiGuru_guruId_fkey" FOREIGN KEY ("guruId") REFERENCES public."Guru"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: PresensiSiswa PresensiSiswa_siswaId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."PresensiSiswa"
    ADD CONSTRAINT "PresensiSiswa_siswaId_fkey" FOREIGN KEY ("siswaId") REFERENCES public."Siswa"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: RiwayatPemeliharaan RiwayatPemeliharaan_sarprasId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."RiwayatPemeliharaan"
    ADD CONSTRAINT "RiwayatPemeliharaan_sarprasId_fkey" FOREIGN KEY ("sarprasId") REFERENCES public."Sarpras"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: DEFAULT PRIVILEGES FOR SEQUENCES; Type: DEFAULT ACL; Schema: public; Owner: cloud_admin
--

ALTER DEFAULT PRIVILEGES FOR ROLE cloud_admin IN SCHEMA public GRANT ALL ON SEQUENCES TO neon_superuser WITH GRANT OPTION;


--
-- Name: DEFAULT PRIVILEGES FOR TABLES; Type: DEFAULT ACL; Schema: public; Owner: cloud_admin
--

ALTER DEFAULT PRIVILEGES FOR ROLE cloud_admin IN SCHEMA public GRANT ALL ON TABLES TO neon_superuser WITH GRANT OPTION;


--
-- PostgreSQL database dump complete
--


